body{
    margin: 0px;
}

#Parte_1{
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#Parte_2{
    background-color: #ffffff;
}

#Parte_3{
    background-color: #d7d7d7;
}

#Yeah{
    height: 230px;
    width: 200px;
    transition: border 0.1s linear;    
}
.con-borde{
    border: 2px solid red;
}

/*Parte 2*/
.Ejercicio2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
}

.p1{
    text-align: center;
}

.p2{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}

.ImgPkm{
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.p3{
    text-align: center;
    justify-content: space-around;
}

.p4{
    text-align: center;
}

/*Parte 3*/
#Parte_3{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contraseña3{
    text-align: center;
}

.Selectores{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}

.final{
    text-align: center;
}

#Resultado{
    margin-top: 10px;
    text-align: center;
}